body {
    /*margin: 0;*/
    /*padding: 0;*/
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 50px; /*количество колонок (3) + ширина элементов слева направо*/
    grid-template-rows: 200px 400px 150px; /*кол-во рядов (3+) длина элементов ряда по бокам сверху вниз*/
    /*при добавлении еще рядов - они занимают высоту по умолчанию = себя + паддинги*/
}